* {
  font-family: 'Barlow Semi Condensed', sans-serif !important;
  font-size: 1rem;
}

body {
  margin: 0;
  overflow: hidden;
  font-family: 'Barlow Semi Condensed', sans-serif !important;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.font-weight-semi-bold {
  /* font-family: 'Barlow Semi Condensed SemiBold', sans-serif !important; */
  font-weight: 600;
}

.bg-black {
  background-color: black;
}

.bg-lighter {
  background-color: #F2F2F2 !important;
}

.btn-light {
  color: #212529;
  background-color: #F2F2F2;
  border-color: #F2F2F2;
}

.rounded-high {
  border-radius: .50rem !important;
}

.rounded-extra {
  border-radius: .75rem !important;
}

.text-decoration-none {
  text-decoration: none !important;
}

input {
  background-color: #F2F2F2 !important;
  border: 0 !important;
}

.input-group>.input-group-prepend>.input-group-text {
  border: 0 !important;
}

option {
  border-radius: .25rem !important;
  margin-bottom: .3rem !important;
}

.react-datepicker-wrapper {
  width: 100%;
}

.btn-light:not(:disabled):not(.disabled).active {
  background-color: #ffc107;
  border-color: #ffc107;
  /* border: none; */
}